//////////////////// OKINE ////////////////////

@font-face {
  font-family: "okine-boldoutline";
  src: url("../../assets/fonts/okine/OkineSansPERSONALUSE-BoldOutline.woff")
}

@font-face {
  font-family: "okine-bold";
  src: url("../../assets/fonts/okine/OkineSansPERSONALUSE-Bold.woff")
}